/* 
    Convencion de buenas practicas se colocan los estlos de la siguiente forma:
    1.- Posicionamiento.  --> static, absolute, relative, fixed
    2.- Modelo de caja (Box Model). --> margin, border, padding, content.
    3.- Topografia. -> tipos, tamaños de fuente, etc
    4.- Visuales. --> box-shadow, border-radius, gradient, etc.
    5.- Otros.  --> reglas CSS y más
*/
:root {
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;
  --linear-gradient: 207.8deg, #201e1c 16.69%, #f7931a 100%;
  --bitconin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-blanck: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */ /*Se puede agregar el aliegn item y se evita poner aling-self por cada elemento*/
  width: 100%;
  min-height: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(var(--linear-gradient));
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center; /*Es la forma de centrar a un elemento que tenga un contenedor con display flex  */
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title-container h1 {
  font-size: 2.4rem; /*Tamaño de la fuente*/
  font-weight: bold; /*Grosor de la fuente*/
  line-height: 2.6rem; /*Es la separacion o dimension que tiene los textos entre lineas.
                         Es decir la separacion de arriba y abajo de los textos. */
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  /* left: calc(50% - 118px);*/ /*Se puede hacer un calculo para dar una separacion o margen */
  /*Para saber cuantos pixeles hay que restar se toma el valor de height o width y se divide entre dos*/
  /*Otra forma de centra es left %50 y translate(-50%)*/
  left: 50%;
  transform: translate(-50%);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("./assets/imgs/Bitcoin.svg");
  /*Propiedades de imagenes*/
  background-size: cover;
  background-position: center; /*Nos permite ver siempre el centro de la imagen*/
  background-repeat: no-repeat; /*No permite que se repita la imagen si es muy pequeña*/
}

.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-currency-table,
.main-comission-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: var(--font-inter);
}

.main-currency-table .currency-table__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitconin-orange);
}

.currency-table__container,
.commission-table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table__container table,
.commission-table__container table {
  width: 100%;
  height: 100%;
}

.currency-table__container td,
.commission-table__container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table__container .table--top-left,
.commission-table__container .table--top-left {
  border-radius: 15px 0 0 0;
}

.currency-table__container .table--top-right,
.commission-table__container .table--top-right {
  border-radius: 0 15px 0 0;
}

.currency-table__container .table--botton-left,
.commission-table__container .table--botton-left {
  border-radius: 0 0 0 15px;
}

.currency-table__container .table--botton-right,
.commission-table__container .table--botton-right {
  border-radius: 0 0 15px 0;
}

.currency-table__container .table--right,
.commission-table__container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table__container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./assets/icons/trending-up.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-comission-table .commission__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
}

.currency-table--date {
  width: 190px;
  /*Se puede ahorrar el codigo del parrafo con width max-content para evitar el desvordamiento*/
  /* width: max-content; */
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  /* margin: 15px auto; */
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: var(--warm-blanck);
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-blanck);
}
.product-detail__batata-logo {
  position: absolute; /*Busca una posicion relative mas directa en este caso es main-product-detail de no
                          ser asi se saldria a buscar el mas cercano */
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url(./assets/icons/batata.svg);
}

.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  /*Si el texto es mas grande que la altura va a provocar un overflow en este caso se arregla dando una altura minima esto por ser pixeles ya que si es porcentaje este crece con el contenido*/
  /* min-height: 150px;  */
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail__card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clock {
  background-image: url("./assets/icons/clock.svg");
}

.eye {
  background-image: url("./assets/icons/eye.svg");
}

.dolar {
  background-image: url("./assets/icons/dollar-sign.svg");
}

.circle {
  background-image: url("./assets/icons/check-circle.svg");
}
.product__card-title {
  margin-bottom: 15px;
  font-size: 1.8rem; /*Tamaño de fuente*/
  font-weight: bold; /*Ancho de fuente*/
  line-height: 1.8rem; /*Espacion entre lineas*/
  color: var(--just-white);
}

.product__card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoint-img-container {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("./assets/imgs/bitcoinbaby2x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoint-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider {
  display: flex;
  /* gap: 50px; */
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center; /*Forzamos al navegador a centrar el contenido*/
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  /* margin: 50px auto 0; */
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended {
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--bitconin-orange);
  border-radius: 8px;
  color: var(--just-white);
}

.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem; /*interlineado*/
  color: black;
}

.plan-card--price sup {
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px; /*Subimos el simbolo con vertical aling*/
}

.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}

.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--bitconin-orange);
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}

.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  vertical-align: text-bottom;
}

footer{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitconin-orange);
}

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

footer .left ul{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}